/* =================================
  Base Element Styles
==================================== */

@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:100,200,400');

* {
	box-sizing: border-box;
}



p {
	font-family: 'Libre Franklin', sans-serif;
	font-weight: lighter;
}


h2,
h3,
a {
	color: #093a58;
}

h2,
h3,
h4,
h5 {
	margin-top: 0;
}

h5{
	margin-bottom: .7em;
}



a {
	text-decoration: none;
}

li{
	font-weight: bold;
	margin: 2px;
	font-size: 1.2em;
}




.contact-spacing{
	text-align: center;
	line-height: 2em;
}




/* =================================
  Base Layout Styles
==================================== */

.tittle{
	font-size: 4em;
}
.primary-image{
	width: 95%;
	margin: 0 auto;
}
.main-menu{
		margin-bottom: 3em;
}

.main-list li{
	padding: 20px;
	text-transform: uppercase;
	background: #fff;
	display: block;
	font-size: 2.5em;
	margin-bottom: 10px
}



.contact-introduction p,
.introduction p{
	font-size: 3em;
	width: 90%;
	margin: 0 auto;
	line-height: 1.5em;
	text-align: center;
	display: block;
}

.portfolio-header{
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 3em;
}

.wrapper {
	line-height: 1.6;
	color: #3a3a3a;
	text-align: center;
	width: 90%;
	margin: 0 auto;
	font-weight: lighter;
}

.profile-image {
	padding-top: 50px;
	padding-bottom: 50px;
	width: 600px;

}

.content-image img,
.content-image  {
	width: 100%;
	margin: 0 auto;
}



.header-background{
	background-color: #f5f5f5;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 30px;

}

.contact{
	font-size: 2.5em;
}

.contact-introduction{
	text-align: center;
	font-size: 2.2em;
	width: 85%;
	margin: auto;
	line-height: 1.6;
	color: #808080;
}

.contact-spacing p{
	font-size: 2.2em;
	line-height: 1.8;
	color: #808080;
}

.main-header{
	margin-top: 50px;
	margin-bottom: 50px;
}

.sub-heading{
	font-weight: 400;
	margin-top: 30px;
	font-size: 2.5em;
	font-family: 'Libre Franklin', sans-serif;
	text-align: center;
}

.description{
	margin-bottom: 70px;
	font-size: 2.3em;

}


.contact-spacing{
	word-spacing: 1em;
	font-size: 1em;
	padding-bottom: 3em;
}

.border-line{
	margin-top: 3em;
}

.main-footer{

	background-color: #f5f5f5;
	padding-top: 1em;
	margin-top: 6em;
}


.footer-border {
	border-top: 1px grey solid;
	width: 90%;
	margin: 0 auto;
	padding-top: 1.5em;
}

.contact,
.portfolio-header{
	margin-bottom: 2em;
	text-transform: uppercase;
	text-align: center;
	margin-top: 3em;
}



.web-menu{
	display: none;
}

.back-to-top,
	.name{
	display: inline-block;
	font-size: 1em;
	}

.nav-one,
.nav-two,
.nav-three,
.nav-four,
.nav-five,
.nav-six {
	width: 100%;
	float: none;

}

.main-tittle,
.menu{
	display: none;
}

/* =================================
  Floats
==================================== */

.link-top {
	display: inline-block;
	width: 100%;
	margin: 0 auto;
	font-size: 2.5em;

}

.back-to-top{
	float: right;
	color: #696969;	
	text-transform: uppercase;
}



.name{
	float: left;
	color: #696969;	
	

}